@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(136, 22, 22) ;

}

main {
    position: relative;
    background-color: rgba(255, 255, 255, 0.025);
    width: 100vw;
    height: 100vh;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 400px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.102), -5px -5px 5px rgba(0, 0, 0, 0.103);
    border: 1px solid rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

main > section {
    position: absolute;
    width: 500px;
    height: 400px;
}